.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: lighten($color: grey, $amount: 46%);
  width: calc(100% + 16px);
  height: 100vh;
  margin: -8px;

  &__title {
    font-size: 40px;
    margin: $spacing-small 0 $spacing-default 0;
  }


  &__results {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
    margin-top: $spacing-large;
    margin-left: $spacing-small;

    div {
      font-size: 20px;
      margin-bottom: $spacing-small;
    }
  }
}