.input {
  border-radius: 4px;
  min-width: 400px;
  border: solid 1px rgba(36, 47, 54, 0.15);
  background-color: rgba(36, 47, 54, 0.06);
  font-size: $font-size-large;
  color: rgb(80, 73, 73);
  opacity: .6;
  padding: $spacing-small $spacing-default;
  font-style: italic;

  &:focus {
    outline: none;
  }
}